<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/os-razvan.juverdeanu/IdeaProjects/MyApplication">
        <classes>
            <class name="com.example.Tests.Tests">
                <methods>
                    <include name="checkProductTitleTest"/>
                    <include name="checkMinimPriceFilterTest"/>
                    <include name="checkMaximPriceFilterTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>